footer .fluid1{
    background-color: rgb(0, 0, 0);
   border-top: 10px solid rgb(3, 71, 3);
 
    

}

/* footer .container-fluid .row{
    margin-top: 30px !important;
} */

.links a{
    color: rgb(220, 244, 214);
    text-decoration: none;
}
.links a:hover{
    color: rgb(255, 204, 0);
    text-decoration: underline;
    text-decoration-color:rgb(255, 204, 0) ;
    text-decoration-thickness: 2px;
    transition: 0.1s;
}
.links h2{
    color: chartreuse;
    text-shadow: 20px 10px 20px rgb(3, 50, 3);
}
.icon a i{
    font-size: 15px;
    color: rgb(168, 255, 168);
    margin: 3px;
}
.icon a i:hover{
    color: rgb(17, 190, 17);
}