*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}

   
.head{
height: 100vh;
background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('images/header2.jpg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
/* border-bottom-left-radius: 30%;
border-bottom-right-radius: 30% ; */
}
.btn{
    background-color: rgb(3, 46, 3);
    border: 2px solid rgb(251, 235, 11);
    padding: 15px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    margin: 10px;

}
.btn:hover{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
}
.sec1{
    /* height: 40vh; */
    background-color: darkgreen;
}
.sec2{
    background-color: rgb(4, 160, 4);
}
.sec3{
    background-color: darkgreen;
}
.img{
    background-size: cover;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    height: 600px;
   
    background-repeat: no-repeat;
    background-position: center center;

}
#image1{
    background-image: url(images/pexels-keira-burton-6147382.jpg);
    border-bottom: 10px solid crimson;

}
#image2{
    background-image: url(images/feature-2.jpg);
    border-bottom: 10px solid aqua;
}
#image3{
    background-image: url(images/feature\ 3.jpg);
    border-bottom: 10px solid darkorange;
}
